/*
*   @author: Prosenjit Ghosh Chowdhury
*   @since: 25-Dec-2023
*/

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem; /* alingn vertically center for the line */
}

.choice {
    height: 165px;
    width: 165px;  
    border-radius: 50%; 
    display: flex; /* to make the content center with border */
    justify-content: center; /* to make the content center */
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover; /* to make the distort image better */
    border-radius: 50%; /* to make the square image circle */
}

.choices {
    display: flex; /* to make the image in same line, adjusting the div property */
    justify-content: center; /* to get the images in center */
    align-items: center; /* to get the images vertically in center */
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center; /* to get the content align vertically in center */
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.score {

}

#msg {
    margin-top: 5rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container {
    margin-top: 5rem;
}

